<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.media.ibs.program.persistence.ElementMapper">
  <resultMap id="BaseResultMap" type="com.zm.media.ibs.program.entity.Element">
    <id column="elementId" jdbcType="BIGINT" property="elementId" />
    <result column="programId" jdbcType="BIGINT" property="programId" />
    <result column="elementName" jdbcType="VARCHAR" property="elementName" />
    <result column="etype" jdbcType="INTEGER" property="etype" />
    <result column="background" jdbcType="VARCHAR" property="background" />
    <result column="eleft" jdbcType="INTEGER" property="eleft" />
    <result column="etop" jdbcType="INTEGER" property="etop" />
    <result column="ewidth" jdbcType="INTEGER" property="ewidth" />
    <result column="eheight" jdbcType="INTEGER" property="eheight" />
    <result column="eindex" jdbcType="INTEGER" property="eindex" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="effect" jdbcType="INTEGER" property="effect" />
    <result column="emode" jdbcType="INTEGER" property="emode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    elementId, programId, elementName, etype, background, eleft, etop, ewidth, eheight, 
    eindex, duration, effect, emode, remark
  </sql>
  <select id="selectByExample" parameterType="com.zm.media.ibs.program.entity.ElementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_element
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_element
    where elementId = #{elementId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_element
    where elementId = #{elementId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zm.media.ibs.program.entity.ElementExample">
    delete from tbl_element
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zm.media.ibs.program.entity.Element">
    insert into tbl_element (elementId, programId, elementName, 
      etype, background, eleft, 
      etop, ewidth, eheight, 
      eindex, duration, effect, 
      emode, remark)
    values (#{elementId,jdbcType=BIGINT}, #{programId,jdbcType=BIGINT}, #{elementName,jdbcType=VARCHAR}, 
      #{etype,jdbcType=INTEGER}, #{background,jdbcType=VARCHAR}, #{eleft,jdbcType=INTEGER}, 
      #{etop,jdbcType=INTEGER}, #{ewidth,jdbcType=INTEGER}, #{eheight,jdbcType=INTEGER}, 
      #{eindex,jdbcType=INTEGER}, #{duration,jdbcType=INTEGER}, #{effect,jdbcType=INTEGER}, 
      #{emode,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zm.media.ibs.program.entity.Element">
    insert into tbl_element
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="elementId != null">
        elementId,
      </if>
      <if test="programId != null">
        programId,
      </if>
      <if test="elementName != null">
        elementName,
      </if>
      <if test="etype != null">
        etype,
      </if>
      <if test="background != null">
        background,
      </if>
      <if test="eleft != null">
        eleft,
      </if>
      <if test="etop != null">
        etop,
      </if>
      <if test="ewidth != null">
        ewidth,
      </if>
      <if test="eheight != null">
        eheight,
      </if>
      <if test="eindex != null">
        eindex,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="effect != null">
        effect,
      </if>
      <if test="emode != null">
        emode,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="elementId != null">
        #{elementId,jdbcType=BIGINT},
      </if>
      <if test="programId != null">
        #{programId,jdbcType=BIGINT},
      </if>
      <if test="elementName != null">
        #{elementName,jdbcType=VARCHAR},
      </if>
      <if test="etype != null">
        #{etype,jdbcType=INTEGER},
      </if>
      <if test="background != null">
        #{background,jdbcType=VARCHAR},
      </if>
      <if test="eleft != null">
        #{eleft,jdbcType=INTEGER},
      </if>
      <if test="etop != null">
        #{etop,jdbcType=INTEGER},
      </if>
      <if test="ewidth != null">
        #{ewidth,jdbcType=INTEGER},
      </if>
      <if test="eheight != null">
        #{eheight,jdbcType=INTEGER},
      </if>
      <if test="eindex != null">
        #{eindex,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="effect != null">
        #{effect,jdbcType=INTEGER},
      </if>
      <if test="emode != null">
        #{emode,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zm.media.ibs.program.entity.ElementExample" resultType="java.lang.Integer">
    select count(*) from tbl_element
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_element
    <set>
      <if test="record.elementId != null">
        elementId = #{record.elementId,jdbcType=BIGINT},
      </if>
      <if test="record.programId != null">
        programId = #{record.programId,jdbcType=BIGINT},
      </if>
      <if test="record.elementName != null">
        elementName = #{record.elementName,jdbcType=VARCHAR},
      </if>
      <if test="record.etype != null">
        etype = #{record.etype,jdbcType=INTEGER},
      </if>
      <if test="record.background != null">
        background = #{record.background,jdbcType=VARCHAR},
      </if>
      <if test="record.eleft != null">
        eleft = #{record.eleft,jdbcType=INTEGER},
      </if>
      <if test="record.etop != null">
        etop = #{record.etop,jdbcType=INTEGER},
      </if>
      <if test="record.ewidth != null">
        ewidth = #{record.ewidth,jdbcType=INTEGER},
      </if>
      <if test="record.eheight != null">
        eheight = #{record.eheight,jdbcType=INTEGER},
      </if>
      <if test="record.eindex != null">
        eindex = #{record.eindex,jdbcType=INTEGER},
      </if>
      <if test="record.duration != null">
        duration = #{record.duration,jdbcType=INTEGER},
      </if>
      <if test="record.effect != null">
        effect = #{record.effect,jdbcType=INTEGER},
      </if>
      <if test="record.emode != null">
        emode = #{record.emode,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_element
    set elementId = #{record.elementId,jdbcType=BIGINT},
      programId = #{record.programId,jdbcType=BIGINT},
      elementName = #{record.elementName,jdbcType=VARCHAR},
      etype = #{record.etype,jdbcType=INTEGER},
      background = #{record.background,jdbcType=VARCHAR},
      eleft = #{record.eleft,jdbcType=INTEGER},
      etop = #{record.etop,jdbcType=INTEGER},
      ewidth = #{record.ewidth,jdbcType=INTEGER},
      eheight = #{record.eheight,jdbcType=INTEGER},
      eindex = #{record.eindex,jdbcType=INTEGER},
      duration = #{record.duration,jdbcType=INTEGER},
      effect = #{record.effect,jdbcType=INTEGER},
      emode = #{record.emode,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zm.media.ibs.program.entity.Element">
    update tbl_element
    <set>
      <if test="programId != null">
        programId = #{programId,jdbcType=BIGINT},
      </if>
      <if test="elementName != null">
        elementName = #{elementName,jdbcType=VARCHAR},
      </if>
      <if test="etype != null">
        etype = #{etype,jdbcType=INTEGER},
      </if>
      <if test="background != null">
        background = #{background,jdbcType=VARCHAR},
      </if>
      <if test="eleft != null">
        eleft = #{eleft,jdbcType=INTEGER},
      </if>
      <if test="etop != null">
        etop = #{etop,jdbcType=INTEGER},
      </if>
      <if test="ewidth != null">
        ewidth = #{ewidth,jdbcType=INTEGER},
      </if>
      <if test="eheight != null">
        eheight = #{eheight,jdbcType=INTEGER},
      </if>
      <if test="eindex != null">
        eindex = #{eindex,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="effect != null">
        effect = #{effect,jdbcType=INTEGER},
      </if>
      <if test="emode != null">
        emode = #{emode,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where elementId = #{elementId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zm.media.ibs.program.entity.Element">
    update tbl_element
    set programId = #{programId,jdbcType=BIGINT},
      elementName = #{elementName,jdbcType=VARCHAR},
      etype = #{etype,jdbcType=INTEGER},
      background = #{background,jdbcType=VARCHAR},
      eleft = #{eleft,jdbcType=INTEGER},
      etop = #{etop,jdbcType=INTEGER},
      ewidth = #{ewidth,jdbcType=INTEGER},
      eheight = #{eheight,jdbcType=INTEGER},
      eindex = #{eindex,jdbcType=INTEGER},
      duration = #{duration,jdbcType=INTEGER},
      effect = #{effect,jdbcType=INTEGER},
      emode = #{emode,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where elementId = #{elementId,jdbcType=BIGINT}
  </update>



</mapper>